<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Upload your csv to continue</h1>

    <section id="upload-data-panel">
      <form id="upload-form" action="/upload-csv" method="post" enctype="multipart/form-data">
          <fieldset>
              <legend>Upload Data</legend>
              <div>
                  <!-- The name here is important, and will be used later to reference the data -->
                  <input type="file" name="csvdata" accept="text/cvs">
              </div>
              <div>
                  <input type="submit" value="Submit"/>
              </div>
          </fieldset>
      </form>
  </section>

  </body>
</html>
